[submodule "tinyendian"]
	path = vendor/yaml/tinyendian
	url = https://github.com/dlang-community/tinyendian.git
[submodule "dyaml"]
	path = vendor/yaml/dyaml
	url = https://github.com/dlang-community/D-YAML.git
[submodule "elf-d"]
	path = vendor/elf/elf-d
	url = https://github.com/serpent-os/elf-d.git
[submodule "xxhash-d"]
	path = subprojects/xxhash-d
	url = https://github.com/serpent-os/xxhash-d.git
[submodule "subprojects/lmdb-d"]
	path = subprojects/lmdb-d
	url = https://github.com/serpent-os/lmdb-d.git
