[submodule "tinyendian"]
	path = tinyendian
	url = https://github.com/dlang-community/tinyendian.git
[submodule "dyaml"]
	path = dyaml
	url = https://github.com/dlang-community/D-YAML.git
[submodule "elf-d"]
	path = elf-d
	url = https://gitlab.com/serpent-os/dlang/elf-d.git
[submodule "rocksdb-binding"]
	path = rocksdb-binding
	url = https://gitlab.com/serpent-os/dlang/rocksdb-binding.git
